/*
File of Style
*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  padding: 0px;
  margin: 0px;
}

/*Aqui começa a estilização da barra de acessbilidade*/
.access-bar {
  background-color:#F2711C;
  text-align: center;
}
.access-bar .atalhos ul {
  padding:0px;
	margin:0px;
	background-color:#F2711C;
	list-style:none;
  font-family: sans-serif;
}
.access-bar .atalhos ul li {
  display: inline-table;
}
.access-bar .atalhos ul a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: inline-table;
	background-color:#F2711C;
	text-decoration: none;
  color: #FFF;
  min-width: 9em;
}
.access-bar .atalhos ul li a:hover {
  color: #000;
}
/*Aqui termina a estilização da barra de acessbilidade*/


.btn-pesquisa {
  padding-top: 0.55em;
  padding-right: 6em;
}

.location {
  padding-top: 0.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
}


/*Aqui começa a estilização da barra de navegação: */
#nav ul {
  background-color: #F2711C;
  overflow: hidden;
  color: white;
  padding: 0;
  text-align: center;
  margin: 0;
  font-family: sans-serif;
  -webkit-transition: max-height: 0.4s;
  -ms-transition: max-height: 0.4s;
  -moz-transition: max-height: 0.4s;
  -o-transition: max-height: 0.4s;
  transition: max-height: 0.4s;
}

#nav-list-link {
  text-decoration: none;
  color: inherit;
}

#nav ul li {
  display: inline-block;
  padding: 1.3em;
}

#nav ul li:hover {
  background-color: #FFC80B;
  color: #FFF;
}

.handle {
  width: 100%;
  background: #F38C23;
  text-align: left;
  box-sizing: border-box;
  padding: 15px 10px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  color: #FFF;
  display: none;
}

@media screen and (max-width: 670px) {
  #access-bar #lista li {
    display: inline;
  }

  nav ul {
    max-height: 0;
  }
  .showing {
    max-height: 22em;
  }
  #nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    text-align: left;
  }
  .handle {
    display: block;
  }
}
/*Aqui termina a estilização da barra de navegação */



.justificado {
  text-align: justify;
  text-justify: inter-word;
}



/*Aqui é a parte do footer */
.footer {
  width: 100%;
  padding-bottom: 2em;
  padding-top: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #F2711C;
  text-align: center;

}
.direitos {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  background: #FFCD71;
  text-align: center;
}
/*Aqui termina a parte do footer */
